/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial !important;
}
body{
    font-family: Arial !important;
}
a{
    color: inherit !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #444444;
    text-shadow: none;
}

::selection {
    background: #444444;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.headerbackground {
    background-color: #1CABE2;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.main-header {
    background: #1CABE2 !important;
    color: #fff !important;
    border-radius: 0;
    border: none;
}

.main-footer {
    background: #1CABE2 !important;
    color: #fff !important;
    border-radius: 0;
    border: none;
    padding-left: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-legend {
    background-color: black;
    color: white;
    width: 40%;
    padding-left: 0px;
    padding-bottom: 3px;
    position: relative;
    z-index: 10;
}

.form-legendset {
    background-color: black;
    color: white;
    width: 37%;
    padding-left: 4px;
    padding-bottom: 3px;
    position: relative;
    z-index: 10;
}
.hr-legend {
    border-top: 3px solid;
    margin-top: -28px;
    width: 117%;
    z-index: -145;
    margin-left: -30px;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-white {
    color: #ffffff !important;
}

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #ffffff !important;
}

.requestedborder {
    border-left: 5px solid #e9ecef !important;
    border-right: 5px solid #e9ecef !important;

}

.requestdays {
    font-weight: 800;
    color: #e56c0a;
    font-family: Arial !important;

}
.rejectedays {
    font-weight: inherit;
    color: rgba(236, 0, 0, 0.73);
    font-family: Arial !important;

}
.draftdays {
    font-weight: 800;
    color:  #444444 !important;
    font-family: Arial !important;
}
.approvedays {
    font-weight: 800;
    color: #008c45;
    font-family: Arial !important;

}

.availabledays {
    font-weight: 800;
    font-family: Arial !important;
}
.thumbnail.menu-thumbs:hover {
    background-color: #1CABE2;
    color: #f1f1f1;
}

div.thumbnail.menu-thumbs:active,
a.thumbnail:active{
    background-color: #1CABE2 !important;
}
a .menu-thumbs {
    color: #444444;
}
label.btn.btn-secondary.modalbutton{
     padding-right: 5px !important;

}
label.btn.btn-secondary.modalbutton.active,
label.btn.btn-secondary.modalbutton.active:active{
     background-color: #1CABE2 !important;
    box-shadow: 0 0 0 .2rem #1CABE2 !important;
    border-color: #1CABE2 !important;
    padding-right: 5px !important;

}

.menu-thumbs {
    background: #f1f1f1;
    border: none;
    box-shadow: 2px 2px 3px #aaa;
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 0;
    box-sizing: border-box !important;
    cursor: pointer;
    font-family: Arial !important;
}
.menu-thumbs i {
    font-size: 30px;

}
a .thumbnail:active{
    color: #1CABE2
}
a .thumbnail:hover{
     color: #1CABE2
}
a .thumbnail{
    color: #444444 !important;
}

.top-icons {
    color: #fff !important;
}

.mid-div-header {
    width: 80%;
    margin: auto;
    padding-left: 3em;
}

.requested {
    border: 4px solid #e56c0a;
    height: 20px;
    width: 50px;
    display: inline-block;
}

.approved {
    border: 4px solid #008c45;
    background: #008c45;
    height: 20px;
    margin-left: 30px;
    width: 50px;
    display: inline-block;
}

.free-40 {
    height: 40px;
    clear: both;
}
td.employeelink{
    color: #008c45 !important; ;
}

.left-list-cal li a {
    font-size: 12px;
    font-weight: bold;
    color: #222;
}

.theme-color {
    color: #1CABE2;
}

.date-requested {
    border: 4px solid #e56c0a !important;
}

.date-approved {
    /*border*/
    background: #008c45;
    color: #fff;
}

.table tr td {
    /*padding: 3px !important;*/
    text-align: left;
    width: inherit !important;
}

.hr-header-base {
    margin-top: 0;
    margin-left: 62px;
    border-top: 3px solid #1CABE2;
}
.hr-header{
    margin-top: 0;
    margin-left: 35px;
    border-top: 3px solid #1CABE2;
}
.form-group{
    margin-bottom: 10px !important;
}
.form-group-modal{
    margin-left: 80px !important; ;
}
.modalheader{
    background-color:#1CABE2 !important;
}

.form-control-modal{
    margin-left: 20px !important;
    border-radius:0rem !important;
}
.form-control{
    border-radius:0rem !important;
}
.btn{
    border-radius:0rem !important;
    padding: 0 !important;
    width: 60%;
}

.btn-success {
  color: #fff;
  background-color: #1CABE2 !important;
  border-color: #1CABE2 !important;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem #1CABE2 !important;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #1CABE2 !important;
  border-color: #1CABE2 !important;
}

.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1CABE2 !important;
  border-color: #1CABE2 !important;
  box-shadow: 0 0 0 0.2rem #1CABE2 !important;
}

.btn-leave{
    width: 30%;
}
.btn-requests{
    width: 100% !important;
}
.modal-header{
    padding: 5px !important;
}
.modallabel{
    text-align: right !important;
}
.active .modalbutton:active{
    background-color: #1CABE2 !important;
    border-color: #1CABE2 !important;
    box-shadow: 0 0 0 .2rem #1CABE2 !important;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin: 0;
}
/*<!-------- style for form------------>*/

.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}

.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
    border: 2px solid #1CABE2; !important;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
    margin-right: -120px;
    z-index: 10;
    position: relative;
}

.input-number-group .input-number-increment {
  margin-left: 0;
}
.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: inherit;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

}