{% extends 'emtct/base.html' %}
{% load static %}
{% block title %}EMTCT Data Export{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h3 class="theme-color"><i class="zmdi zmdi-file-text zmdi-hc-lg"> </i>
        <span>Mother Registration<hr class="hr-header"/></span></h3>

    <br/>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
            <div class="col-sm-10"><h3 class="theme-color">FamilyConnect Contact Bulk Upload</h3>
              <button><a href="{% static '/emtct-bulk-template.xlsx' %}">Click Here to Download Template</a></button>
              <br/><br/>
              <h5>Sample Template Look</h5>
              <img src="{% static 'img/templateimg.png' %}" alt="">
              <br/><br/>
              <h5>Supported Languages:</h5>
              <b> English, Lusoga, Acholi, Luganda, Karamajongo, Runyoro, Runyakitara, 
                Kumam, Lango, Lingala, Lugbara, Aringa, Madi, Runyankole, Ateso, and Rukiga</b><br/><br/>
              <p>Messages to Receive should be <b>appointments</b> for "Appointments Messages Only" or <b>health</b> for "Health and Appointments Reminders"</p>
              <h5>Telephone Format:</h5> 
              <b>256XXXXXXXXX</b>
              <!-- {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
                {% endif %}
                {% if message.tags == 'error' %}
                  {% if 'safe' in message.tags %}

                <div class="alert alert-danger" role="alert">
                      {{message|safe}}
                  </div>
                  {%endif%}
                {% endif %}

                
              {% endfor %}
              {% endif %} -->
             
                {% for message in messages %}
                
                    {% if 'safe' in message.tags %}
                    <div class="alert alert-danger" role="alert">
                        {{ message|safe }}
                        <!-- <a href="{% static '/errors.txt' %}">  -->
                        <a href="{% static '/errors.txt' %}">Here to Access the Error File</a>
                    
                      </div>
                    {% else %}
                      <div class="alert alert-success" role="alert">
                        {{message|safe}}
                      </div>
                    {% endif %}
                
                {% endfor %}
           
                <form method="post" action ="" enctype="multipart/form-data" novalidate>
                                      

                  {% csrf_token %}
                  {{ form|crispy }}
                
                  <button type="submit" class="btn btn-success">Upload</button> 
                    <button type="reset"  class="btn btn-danger btn btn-leave ">Cancel</button>
                    <!-- btn-xm -->

              </form>
            </div>
        <div class="col-sm-1"></div>
    </div>
    </div>
{% endblock %}