{% extends 'emtct/base.html' %}
{% load static %}
{% block title %}EMTCT Data Export{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h3 class="theme-color"><i class="zmdi zmdi-file-text zmdi-hc-lg"> </i>
        <span>Mother Registration<hr class="hr-header"/></span></h3>

    <br/>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
            <div class="col-sm-10"><h4 class="theme-color">FamilyConnect Contact Bulk Upload</h4>
              <!-- {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
                {% endif %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                      {{message}}
                  </div>
                {% endif %}

                
              {% endfor %}
              {% endif %} -->
                <form method="post" action ="" enctype="multipart/form-data" novalidate>
                                      

                  {% csrf_token %}
                  {{ form|crispy }}
                
                  <button type="submit" class="btn btn-success">Upload</button> 
                    <button type="reset"  class="btn btn-danger btn btn-leave ">Cancel</button>
                    <!-- btn-xm -->

              </form>

              <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
              <script>

                $(document).ready(function(){
                  
                  $("#div_id_number_of_weeks").hide();
                  console.log("between")
                  $("#div_id_age_of_baby").hide();
                  
                  // // $("#show").click(function(){
                  // //       $("p").show();
                  // //     });

                  $('#id_mothers_condition').change(function(){
                    if ($('#id_mothers_condition').val() === "pregnant"){
                      $("#div_id_age_of_baby").hide();

                      $("#div_id_number_of_weeks").show();
                    } else { 
                      $("#div_id_number_of_weeks").hide();


                      $("#div_id_age_of_baby").show();
                  }


                  });




                  // count = 1
                  $("#id_region").change(function(){
            
                    let reg_id = $("#id_region").val();
                    if (reg_id ==0 || reg_id == "")
                      return;
                    let dropdown = $('#id_district');
                    console.log(reg_id);
                    dropdown.empty();
                    // dropdown.append('<option selected="true" disabled>Please Select Region</option>');
                    dropdown.append('<option selected="true" value="">Please Select District</option>');
                    dropdown.prop('selectedIndex', 0);
                    const url = 'districtjson/'+ reg_id;
                    // Populate dropdown with list of 
                    $.getJSON(url, function (data) {
                      $.each(data,function(){
                        $.each(this, function (key, entry) {
                            dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
                            // console.log(entry)
                        })
                      } );
                        
                      });
                    $("#id_district").change(function(){
                        let district_id = $("#id_district").val();
                        if (district_id ==0 || district_id == "")
                            return;
                        let subcountylist = $('#id_subcounty');
                        console.log(district_id);
                        subcountylist.empty();
                        // dropdown.append('<option selected="true" disabled>Please Select Region</option>');
                        // subcountylist.append('<option selected="true" value="">Please Select Subcounty</option>');
                        // dropdown.prop('selectedIndex', 0);
                        const suburl = 'subcountyjson/'+ district_id;
                        // Populate dropdown with list of 
                        $.getJSON(suburl, function (data) {
                          $.each(data,function(){
                            $.each(this, function (key, entry) {
                                subcountylist.append($('<option></option>').attr('value', entry.id).text(entry.name));
                                console.log(entry)
                            })
                          } );
                            
                          });
                      });
            
                      $("#id_subcounty").change(function(){
                        let subcounty_id = $("#id_subcounty").val();
                        if (subcounty_id ==0 || subcounty_id == "")
                            return;
                        let facilitylist = $('#id_facility');
                        // console.log(district_id);
                        // parishlist.empty();
                        // dropdown.append('<option selected="true" disabled>Please Select Region</option>');
                        // subcountylist.append('<option selected="true" value="">Please Select Subcounty</option>');
                        // dropdown.prop('selectedIndex', 0);
                        const parishurl = 'parishjson/'+ subcounty_id;
                        // Populate dropdown with list of 
                        $.getJSON(parishurl, function (data) {
                          $.each(data,function(){
                            $.each(this, function (key, entry) {
                                facilitylist.append($('<option></option>').attr('value', entry.id).text(entry.name));
                                console.log(entry)
                            })
                          } );
                            
                          });
                      });
            
                  
            
            
                  });

                });
              </script> -->
            </div>
        <div class="col-sm-1"></div>
    </div>
    </div>
{% endblock %}