{% extends 'emtct/base.html' %}
{% load static %}
{% block title %}Help{% endblock %}
{% block content %}
         <h3 class="theme-color"><i class="zmdi zmdi-help zmdi-hc-lg"> </i><span> Help  <hr
                class="hr-header"/></span></h3>
            <div class="container">
                <div class="row">
                    <div class=" col-sm-11 col-md-11 col-lg-11 ">
                        <h4>User Guide</h4>
                        <article>

                            <a href="https://docs.google.com/document/d/e/2PACX-1vR2wQp0lOUBUek42BzUejWQcW6NBPKwPHFbKxnzums5enR4q2C6r0QSB86abv0YWYMKXmxz7PlWXkl8/pub"
                            target="_blank">
                                View Guide
                            </a>
                        </article>

                        <br/>

                        <h4>Support</h4>
                        <article>For any support, send us an email at
                            <a href="mailto:fc.emtct@gmail.com">fc.emtct@gmail.com</a>
                        </article>
                    </div>
                    <div class=" col-sm-1 col-md-1 col-lg-1 "></div>
                </div>
            </div>


{% endblock %}

