{% extends 'emtct/base.html' %}
{% load static %}
{% block title %}RapidPro{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h3 class="theme-color"><i class="zmdi zmdi-assignment zmdi-hc-lg"> </i>
        <span>EMTCT RapidPro<hr class="hr-header"/></span></h3>

    <br/>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success">Add</button>
        <button type="reset" class="btn btn-leave  btn-xm">Cancel</button>
    </form>

{% endblock %}